<@include "header">

<main class="page">
    <div class="wrapper">
        <h1 class="page__title">
            Словарь переводов
        </h1>

        <translationform-component key="translationForm" class="trsform"></translationform-component>
    </div>
</main>